@font-face {
  font-family: 'Inter custom';
  src: url('/fonts/Inter-roman.var.woff2');
}

p {
  margin-bottom: 0;
}

@supports (font-variation-settings: normal) {
  * {
    font-family: 'Inter custom', sans-serif;
  }
}
